{% block content %}
{% if request.user.is_authenticated %}
<div class="border p-3" style=" font-weight: bold;
font-size: 22px;">
    <h4 style=" text-align: center; display: flex;"></h4>Deelete Task</h4>
    <hr>
    <form method="POST">
        {% csrf_token %}
        <div class="alert alert-danger">
            <p style="    text-align: center;">Are you sure you want to delete</p>
        </div>
        <input class="btn btn-danger btn-sm" style="padding: 22px;
        width: 312px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: green;
    font-size: 22px;
    font-weight: bold;
        
        margin: auto;
        margin-top: 4rem;" type="submit" name="Confirm">
    </form>
</div>
{% else %}
{% endif %}
{% endblock %}