{% extends "base/base.html" %}
{% block content %}

<style>
    body {
        font-family: 'open-sans';
        line-height: 1.6;
    }

    .date-st {
        display: flex;
        justify-content: end;
        margin-top: 12;
    }
</style>


<div class="container m-5 p-2 rounded mx-outo bg-light shadow">
    <div calss="row m-1 p-4 ">
        <div class="col">
            <div class="p-1 h1 text-primary text-center display-inline-block">
                <i class="fa-solid fa-calendar-lines-pen"></i>
                <u> Task Manager </u>
            </div>

        </div>

    </div>

    <form>
        <div method="POST">
            {% csrf_token %}

            <div class="rowbm-1 p-3">
                <div class="col col-11 max-auto">
                    <div class="row-bg-white justify-content-center">
                        <div calss="col">
                            <input type="text" name="task_name" maxlength="200" required id="id_task_name"
                                class="form-control form-control-lg border-0-add-too-input bg-transparent"
                                placeholder="Add New Task">
                        </div>
                        <div class="col-auto m-0 px-2 d-flex align-item-center date-st">
                            <input title="set a due date" type="date" name="due_date" id="id_due_date">
                        </div>
                        <div class="col-auto px-0 mx-0 mr-2">
                            <input type="submit" class="btn btn-primary " value="Add">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="p-2 mx-4 border-black-25 border-bottom">
        <table>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">TASK</th>
                    <th scope="col">
                        <div class="dropdowwn">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Priorty
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class=" dropdown-item" href="#"> ALL</a>
                                    <a class=" dropdown-item" href="#"> Low</a>
                                    <a class=" dropdown-item" href="#"> Medium</a>
                                    <a class=" dropdown-item" href="#"> High</a>
                                </li>

                            </ul>

                        </div>
                    </th>
                    <th scope="col"> Due Date</th>
                    <div class="dropdowwn">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            status
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class=" dropdown-item" href="#"> ALL</a>
                                <a class=" dropdown-item" href="#"> Complete</a>
                                <a class=" dropdown-item" href="#"> pending</a>

                            </li>

                        </ul>

                    </div>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks%}
                <tr>
                    <td scope="row">{{forloop.counter}}</td>
                    <td scope="row">{{task.task_name}}</td>
                    <td scope="row">{{task.Priorty}}</td>
                    <td scope="row">{{task.due_date}}</td>
                    <td scope="row">
                        {% if task.completed == "True"%}
                        Done
                        {%else%}
                    </td>
                    <td><a href="#">Mark as a completed</a>
                        {%endif%}
                    </td>
                    <td><a href="#">edit<i class=fa fa-edit text-primery></i></a></td>
                    <td><a href="#"> delete<i class=fa fa-edit text-primery></i></a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>

    </div>
</div>


{% endblock %}